body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  margin: 10px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
thead {
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
th {
  text-align: left;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.1);
}
th span {
  color: #fff;
  padding: 0 5px;
  font-size: 80%;
  float: right;
  font-weight: 300;
}
#valid-counter {
  background-color: rgb(0, 138, 30);
}
#broken-counter {
  background-color: rgb(138, 0, 0);
}
th, td {
  padding: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td:last-of-type {
  text-align: right;
}
input[type=button] {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 90%;
  padding: 2px 5px;
  min-width: 80px;
  cursor: pointer;
  outline: none;
}
input[type=button]:active {
  opacity: 0.5;
}
#brokens,
#valids {
  overflow-y: scroll;
}
#brokens {
  flex: 1;
}
#valids {
  flex: 1;
}
body[data-done=true] #progress {
  display: none;
}
